@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 950px;
}

.clearfix {
  clear: both;
}

.header {
  width: 100%;
  background-color: #640000;
  color: #ddd;
}

.header .c-header1 {
  width: 100%;
  border-bottom: #7a0000 solid 1px;
}

.header .c-header1__info {
  width: 950px;
  margin: 0 auto;
}

.header .c-header1__info p {
  font-size: 1.2rem;
}

.header .c-header2 {
  width: 100%;
  padding: 15px 0;
}

.header .c-header2__info {
  width: 950px;
  margin: 0 auto;
}

.header .c-header2__info__left {
  float: left;
}

.header .c-header2__info__right {
  float: right;
}

.header .c-header2__info__right p {
  font-size: 1.4rem;
  float: left;
  padding: 10px 0 0;
}

.header .c-header2__info__right img {
  float: left;
}

.header .c-header2__info__right h1 {
  float: left;
  font-size: 1.6rem;
  padding: 13px 0 0;
}

.header .c-gnav {
  width: 100%;
  background-color: #b20;
  border-bottom: #cdb140 solid 5px;
}

.header .c-gnav__info {
  width: 950px;
  margin: 0 auto;
}

.header .c-gnav__info li {
  font-size: 1.4rem;
  /*height: 50px;*/
  /*display: inline-block;*/
  float: left;
  text-align: center;
  padding: 20px 30px;
  line-height: 1.5rem;
  border-right: #640 solid 1px;
}

.header .c-gnav__info li a {
  color: #fff;
}

.header .c-gnav__info li:first-child {
  border-left: #640 solid 1px;
}

.header .c-gnav__info li:nth-child(1) {
  padding: 27px 30px;
}

.header .c-gnav__info li:nth-child(2) {
  padding: 27px 29px;
}

.header .c-gnav__info li:nth-child(7) {
  padding: 27px 29px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.footer {
  width: 100%;
  background-image: url(../image/common/back-footer.png);
  color: #fff;
  padding-bottom: 2px;
}

.footer .c-footer1 {
  width: 100%;
  padding: 20px 0;
  border-bottom: #570000 solid 1px;
}

.footer .c-footer1__info {
  width: 950px;
  margin: 0 auto;
}

.footer .c-footer1__info li {
  float: left;
  border-left: #fff solid 1px;
  padding: 0 12px;
}

.footer .c-footer1__info li a {
  font-size: 1.4rem;
  color: #fff;
}

.footer .c-footer1__info li:first-child {
  border-left: none;
}

.footer .c-footer2 {
  width: 100%;
  border-top: #ff6666 solid 1px;
  padding: 50px 0;
}

.footer .c-footer2__info {
  width: 950px;
  margin: 0 auto;
}

.footer .c-footer2__info h1 {
  font-size: 1.4rem;
}

.footer .c-footer2__info p {
  font-size: 1.4rem;
}

.footer .c-footer2__info__left {
  float: left;
}

.footer .c-footer2__info__right {
  float: right;
}

.footer .c-footer3 {
  width: 100%;
  background-color: #640000;
  text-align: center;
  padding: 10px 0;
}

.footer .c-footer3 p {
  font-size: 1.2rem;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-container {
  width: 950px;
  margin: 0 auto;
}

/*--------------------------------*/
.l-flame1 {
  padding: 20px 0;
}

.l-flame1__left {
  width: 588px;
  float: left;
}

.l-flame1__left p {
  font-size: 1.4rem;
}

.l-flame1__left h6 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 0;
}

.l-flame1__right {
  float: right;
}

/*--------------------------------*/
.l-flame2 {
  width: 100%;
  padding: 30px 0;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*title1
--------------------------------*/
.c-title1 {
  text-align: center;
  padding: 50px 0 30px;
}

.c-title1 h1 {
  font-size: 3.4rem;
  font-weight: 500;
  color: #640000;
}

.c-title1 p {
  font-size: 2rem;
  font-family: Times New Roman;
  color: #a50000;
}

/*title2
--------------------------------------*/
.c-title2 {
  border-top: #a50000 solid 1px;
  border-bottom: #a50000 solid 1px;
  padding: 30px 0;
  margin-top: 50px;
}

.c-title2 p {
  color: #640000;
  font-size: 2.2rem;
}

/*title3
-----------------------------------------*/
.c-title3 {
  width: 100%;
  text-align: center;
  border-top: #a50000 solid 1px;
  border-bottom: #a50000 solid 1px;
  padding: 30px 0;
  margin-top: 50px;
  margin-bottom: 40px;
}

.c-title3 img {
  padding: 3px 10px;
  float: left;
}

.c-title3 p {
  font-size: 2.4rem;
  color: #640000;
}

.c-title3 .c-ul1 {
  width: 277px;
  margin: 0 auto;
}

.c-title3 .c-ul2 {
  width: 333px;
  margin: 0 auto;
}

.c-title3 .c-ul3 {
  width: 397px;
  margin: 0 auto;
}

/*title4
--------------------------------------*/
.c-title4 {
  text-align: center;
  padding: 0 0 30px;
}

.c-title4 h1 {
  font-size: 3.4rem;
  font-weight: 500;
  color: #640000;
  font-family: RyuminPro;
}

/*title5
----------------------------------------*/
.c-title5 img {
  float: left;
  padding: 5px 10px 0 0;
}

.c-title5 p {
  float: left;
  font-size: 2.2rem;
  color: #640000;
  font-family: RyuminPro;
}

/*title6
-----------------------------------------*/
.c-title6 h2 {
  font-size: 1.6rem;
  color: #a50000;
  line-height: 2rem;
}

/*7
-----------------------------------------*/
.c-title7 {
  padding: 20px 0;
}

.c-title7 h2 {
  font-size: 1.6rem;
  color: #a50000;
  float: right;
}

/*title100
------------------------------------------*/
.c-title100 {
  width: 545px;
  margin: 0 auto;
  text-align: center;
}

.c-title100 .c-title8 {
  color: #640000;
  float: right;
  padding-left: 50px;
}

.c-title100 .c-title8 h1 {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 35px;
}

.c-title100 .c-title8 p {
  font-size: 2rem;
  font-family: Times New Roman;
}

/*maintitle1
---------------------------------------------*/
.c-maintitle1 {
  width: 100%;
  height: 260px;
  position: relative;
}

.c-maintitle1 img {
  width: 100%;
  margin: 0 auto;
  height: 260px;
  position: absolute;
}

.c-maintitle1__text {
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 100px 0;
  color: #f2f1d8;
}

.c-maintitle1__text h1 {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: RyuminPro;
}

.c-maintitle1__text h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: Times New Roman;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-table1 {
  padding: 0 0 20px;
}

.c-table1__tr {
  border-bottom: #ceceb7 solid 1px;
}

.c-table1__tr__left {
  width: 240px;
  background-color: #dfdfd0;
  float: left;
  padding: 10px 0;
}

.c-table1__tr__left h1 {
  font-size: 1.4rem;
  padding-left: 20px;
}

.c-table1__tr__right {
  float: left;
  padding: 10px 0;
}

.c-table1__tr__right p {
  font-size: 1.4rem;
  padding-left: 20px;
}

.c-table1__tr:first-child {
  border-top: #ceceb7 solid 1px;
}

.c-table1--c-color2__tr {
  border-bottom: #ceceb7 solid 1px;
}

.c-table1--c-color2__tr__left {
  width: 240px;
  background-color: #fff;
  float: left;
  padding: 10px 0;
}

.c-table1--c-color2__tr__left h1 {
  font-size: 1.4rem;
  padding-left: 20px;
}

.c-table1--c-color2__tr__right {
  float: left;
  padding: 10px 0;
}

.c-table1--c-color2__tr__right p {
  font-size: 1.4rem;
  padding-left: 20px;
}

.c-table1--c-color2__tr:first-child {
  border-top: #ceceb7 solid 1px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*button facebook
------------------------------------*/
.c-btn1 {
  width: 172px;
  background-color: #2f4f92;
  float: right;
  padding: 5px 0;
  margin-left: 30px;
  text-align: center;
}

.c-btn1 a {
  font-size: 2rem;
  font-family: Times New Roman;
  color: #fff;
}

/* button top
------------------------------------------*/
#myBtn {
  position: fixed;
  bottom: 20px;
  left: 90%;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #b20000;
  color: white;
  cursor: pointer;
  padding: 5px;
  opacity: 0.9;
  border-radius: 50%;
}

#myBtn i {
  right: 10%;
  top: 10px;
}

#myBtn i img {
  padding-top: 3px;
  height: 12px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-list1 li {
  font-size: 1.4rem;
}

.c-list1 li img {
  padding-top: 3px;
}

/*2
-------------------------------------------------*/
.c-list2 {
  width: 950px;
  margin: 0 auto;
}

.c-list2 ul {
  border-bottom: #bbbbbb solid 1px;
  padding: 25px 0;
}

.c-list2 ul li {
  font-size: 1.4rem;
  padding: 0 20px;
}

.c-list2 ul li img {
  padding-top: 7px;
}

.c-list2 ul li span {
  color: #a50000;
  font-weight: bold;
  padding: 0 35px 0 20px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-entry1__left {
  float: left;
  width: 500px;
  height: 235px;
}

.c-entry1__left p {
  font-size: 1.4rem;
}

.c-entry1__right {
  float: right;
  text-align: center;
  width: 350px;
  height: 235px;
  background-color: #dfdfd0;
}

.c-entry1__right p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  padding: 105px 0 0;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/*1
--------------------------------------*/
.c-nav1 {
  padding: 50px 0 0;
}

.c-nav1--colum {
  width: 225px;
  text-align: center;
  border: #dfdfd0 solid 1px;
  float: left;
  margin-left: 16px;
}

.c-nav1--colum p {
  font-size: 1.4rem;
  padding: 20px 0 10px;
  color: #333;
}

.c-nav1--colum img {
  float: right;
}

.c-nav1--colum:first-child {
  margin-left: 0;
}

/*2
-----------------------------------------------*/
.c-nav2 {
  width: 950px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.c-nav2__tr {
  padding: 15px 0;
}

.c-nav2__tr__colum {
  width: 460px;
  height: 280px;
  margin-left: 30px;
  float: left;
  position: relative;
}

.c-nav2__tr__colum__back img {
  position: absolute;
}

.c-nav2__tr__colum__text {
  text-align: center;
  position: absolute;
  width: 460px;
}

.c-nav2__tr__colum__text img {
  padding: 115px 0 10px;
}

.c-nav2__tr__colum__text p {
  font-size: 2.2rem;
  color: #fff;
}

.c-nav2__tr__colum:first-child {
  margin-left: 0;
}

/*------------------------------------------------------------
bredcrumbs
------------------------------------------------------------*/
.c-breadcrumbs {
  width: 100%;
  background-color: #dfdfd0;
  padding: 20px 0;
}

.c-breadcrumbs__text {
  width: 950px;
  margin: 0 auto;
}

.c-breadcrumbs__text li {
  font-size: 1.2rem;
}

.c-breadcrumbs__text li a {
  color: #b20000;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-top {
  width: 100%;
}

.p-top .c-mainvisual {
  width: 100%;
}

.p-top .c-mainvisual img {
  width: 100%;
}

/* info 1
---------------------------------------*/
.c-info1 {
  width: 535px;
  background-color: #dfdfd0;
  padding: 20px 0;
  margin-top: 30px;
}

.c-info1 h1 {
  font-size: 1.4rem;
  color: #a50000;
  padding-left: 30px;
}

.c-info1 li {
  font-size: 1.4rem;
  padding-left: 30px;
}

.c-info1 li img {
  padding: 10px 10px 0 0;
}

/*info 2
------------------------------------------*/
.c-info2 {
  width: 360px;
  background-color: #dfdfd0;
  margin-top: 20px;
}

.c-info2 h1 {
  font-size: 1.4rem;
  padding-left: 30px;
  padding-top: 10px;
}

.c-info2 p {
  font-size: 1.4rem;
  padding-left: 30px;
  padding-bottom: 10px;
}

.c-info2--color2 {
  background-color: #fff;
}

/* info 3
------------------------------------------*/
.c-info3 {
  border: #cdcbaf solid 1px;
  padding: 20px 0;
}

.c-info3--left {
  float: left;
  padding: 0 55px;
  border-right: #cdcbaf solid 1px;
}

.c-info3--left h1 {
  font-size: 2rem;
  color: #3b2e1d;
}

.c-info3--left p {
  font-size: 1.6rem;
  color: #3b2e1d;
}

.c-info3--right {
  float: left;
  padding: 10px 0;
}

.c-info3--right li {
  font-size: 1.4rem;
  color: #640000;
  font-weight: bold;
  padding: 0 30px;
}

.c-info3--right li img {
  padding: 0 10px;
}

.c-info3--right li .padd-right {
  padding-left: 11px;
}

/*map 1
------------------------------------------*/
.c-map1 iframe {
  width: 950px;
  height: 400px;
}

/*map block
-------------------------------------------*/
.c-mapBlock a {
  font-size: 1.4rem;
  color: #0000ff;
  text-decoration: underline;
}

/*text
--------------------------------------------*/
.c-text1 p {
  font-size: 1.4rem;
  letter-spacing: -0.1px;
}

/*------------------------------------------------------------
top
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-row1 {
  padding-bottom: 25px;
}

.c-row2 {
  padding-bottom: 70px;
}

/*------------------------------------------------------------
news
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.l-flame1__left h3 {
  font-size: 1.4rem;
}

.l-flame1__left img {
  padding-top: 40px;
}

/*------------------------------------------------------------
shien
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text2 p {
  font-size: 1.4rem;
}

/*------------------------------------------------------------
sakura
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-narrow {
  letter-spacing: -2px;
}

/*------------------------------------------------------------
company
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.c-row-company2 {
  padding-bottom: 55px;
}

/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.u-bg1 {
  width: 100%;
  background-image: url(../image/top/backgr1.png);
  padding: 50px 0;
}

.u-bg2 {
  width: 100%;
  background-image: url(../image/top/backgr2.png);
  padding: 50px 0;
}
