/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.footer{
	width: 100%;
	background-image: url(../image/common/back-footer.png);
	color: #fff;
	padding-bottom: 2px;
	.c-footer1{
		width: 100%;
		padding: 20px 0;
		border-bottom: #570000 solid 1px;
		&__info{
			@include width-margin;
			li{
				float: left;
				border-left: #fff solid 1px;
				padding: 0 12px;
				a{
					font-size: 1.4rem;
					color: #fff;
				}
			}
			li:first-child{
				border-left: none;
			}
		}
	}
	.c-footer2{
		width: 100%;
		border-top: #ff6666 solid 1px;
		padding: 50px 0;
		&__info{
			@include width-margin;
			h1{
				font-size: 1.4rem;
			}
			p{
				font-size: 1.4rem;
			}
			&__left{
				float: left;
			}
			&__right{
				float: right;
			}
		}
	}
	.c-footer3{
		width: 100%;
		background-color: #640000;
		text-align: center;
		padding: 10px 0;
		p{
			font-size: 1.2rem;
		}
	}
}