/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
	min-width: 950px;
}
@mixin width-margin{
	width: 950px;
	margin: 0 auto;
}
.clearfix {
  clear: both;
}
.header{
	width: 100%;
	background-color: #640000;
	color: #ddd;
	.c-header1{
		width: 100%;
		border-bottom: #7a0000 solid 1px;
		&__info{
			@include width-margin;
			p{
				font-size: 1.2rem;
			}
		}
	}
	.c-header2{
		width: 100%;
		padding: 15px 0;
		&__info{
			@include width-margin;
			&__left{
				float: left;
			}
			&__right{
				float: right;
				p{
					font-size: 1.4rem;
					float: left;
					padding: 10px 0 0;
				}
				img{
					float: left;
				}
				h1{
					float: left;
					font-size: 1.6rem;
					padding: 13px 0 0;
				}
			}
		}
	}
	.c-gnav{
		width: 100%;
		background-color: #b20;
		border-bottom: #cdb140 solid 5px;
		&__info{
			@include width-margin;
			li{
				font-size: 1.4rem;
				/*height: 50px;*/
				/*display: inline-block;*/
				float: left;
				text-align: center;
				padding: 20px 30px;
				line-height: 1.5rem;
				border-right: #640 solid 1px;
				a{
					color: #fff;
				}
			}
			li:first-child{
				border-left: #640 solid 1px;
			}
			li:nth-child(1){
				padding: 27px 30px;
			}
			li:nth-child(2){
				padding: 27px 29px;
			}
			li:nth-child(7){
				padding: 27px 29px;
			}
		}
	}
}