/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


.l-container{
	@include width-margin;
}
/*--------------------------------*/
.l-flame1{
	padding: 20px 0;
	&__left{
		width: 588px;
		float: left;
		p{
			font-size: 1.4rem;
		}
		h6{
			font-size: 1.4rem;
			font-weight: 500;
			padding: 10px 0;
		}
	}
	&__right{
		float: right;
	}
}
/*--------------------------------*/
.l-flame2{
	width: 100%;
	padding: 30px 0;
}