/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.l-flame1__left{
	h3{
		font-size: 1.4rem;
	}
	img{
		padding-top: 40px;
	}
}