/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text2{
	p{
		font-size: 1.4rem;
	}
}