/*------------------------------------------------------------
top
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.c-row1{
	padding-bottom: 25px;
}

.c-row2{
	padding-bottom: 70px;
}