/*------------------------------------------------------------

------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
/*button facebook
------------------------------------*/
.c-btn1{
	width: 172px;
	background-color: #2f4f92;
	float: right;
	padding: 5px 0;
	margin-left: 30px;
	text-align: center;
	a{
		font-size: 2rem;
		font-family: Times New Roman;
		color: #fff;
	}
}
/* button top
------------------------------------------*/
#myBtn {
		position: fixed;
		bottom: 20px;
		left: 90%;
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		background-color: #b20000;
		color: white;
		cursor: pointer;
		padding: 5px;
		opacity: 0.9;
		border-radius: 50%;
	}

	#myBtn i {
		right: 10%;
		top: 10px;
		img{
			padding-top: 3px;
			height: 12px;
		}
	}