/*------------------------------------------------------------

------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.c-entry1{
	&__left{
		float: left;
		width: 500px;
		height: 235px;
		p{
			font-size: 1.4rem;
		}
	}
	&__right{
		float: right;
		text-align: center;
		width: 350px;
		height: 235px;
		background-color: #dfdfd0;
		p{
			font-size: 1.6rem;
			font-weight: bold;
			color: #fff;
			padding: 105px 0 0;
		}
	}
}
