/*------------------------------------------------------------

------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-list1{
	li{
		font-size: 1.4rem;
		img{
			padding-top: 3px;
		}
	}
}
/*2
-------------------------------------------------*/
.c-list2{
	@include width-margin;
	ul{
		border-bottom: #bbbbbb solid 1px;
		padding: 25px 0;
		li{
			font-size: 1.4rem;
			padding: 0 20px;
			img{
				padding-top: 7px;
			}
			span{
				color: #a50000;
				font-weight: bold;
				padding: 0 35px 0 20px;
			}
		}
	}
}