/*------------------------------------------------------------

------------------------------------------------------------*/
/*1
--------------------------------------*/
.c-nav1{
	padding: 50px 0 0;
	&--colum{
		width: 225px;
		text-align: center;
		border: #dfdfd0 solid 1px;
		float: left;
		margin-left: 16px;
		p{
			font-size: 1.4rem;
			padding: 20px 0 10px;
			color: #333;
		}
		img{
			float: right;
		}
	}
	&--colum:first-child{
		margin-left: 0;
	}
}

/*2
-----------------------------------------------*/
.c-nav2{
	@include width-margin;
	padding-bottom: 55px;
	&__tr{
		padding: 15px 0;
		&__colum{
			width: 460px;
			height: 280px;
			margin-left: 30px;
			float: left;
			position: relative;
			&__back{
				img{
					position: absolute;
				}
			}
			&__text{
				text-align: center;
				position: absolute;
				width: 460px;
				img{
					padding: 115px 0 10px;
				}
				p{
					font-size: 2.2rem;
					color: #fff;
				}
			}
		}
		&__colum:first-child{
			margin-left: 0;
		}
	}
}

/*------------------------------------------------------------
bredcrumbs
------------------------------------------------------------*/

.c-breadcrumbs{
	width: 100%;
	background-color: #dfdfd0;
	padding: 20px 0;
	&__text{
		@include width-margin;
		li{
			font-size: 1.2rem;
			a{
				color: #b20000;
			}
		}
	}
}