/*------------------------------------------------------------

------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-top{
	width: 100%;
	.c-mainvisual{
		width: 100%;
		img{
			width: 100%;
		}
	}
}
/* info 1
---------------------------------------*/
.c-info1{
	width: 535px;
	background-color: #dfdfd0;
	padding: 20px 0;
	margin-top: 30px;
	h1{
		font-size: 1.4rem;
		color: #a50000;
		padding-left: 30px;
	}
	li{
		font-size: 1.4rem;
		padding-left: 30px;
		img{
			padding: 10px 10px 0 0;
		}
	}
}
/*info 2
------------------------------------------*/
.c-info2{
	width: 360px;
	background-color: #dfdfd0;
	margin-top: 20px;
	h1{
		font-size: 1.4rem;
		padding-left: 30px;
		padding-top: 10px;
	}
	p{
		font-size: 1.4rem;
		padding-left: 30px;
		padding-bottom: 10px;
	}
	&--color2{
		background-color: #fff;
	}
}
/* info 3
------------------------------------------*/
.c-info3{
	border: #cdcbaf solid 1px;
	padding: 20px 0;
	&--left{
		float: left;
		padding: 0 55px;
		border-right: #cdcbaf solid 1px;
		h1{
			font-size: 2rem;
			color: #3b2e1d;
		}
		p{
			font-size: 1.6rem;
			color: #3b2e1d;
		}
	}
	&--right{
		float: left;
		padding: 10px 0;
		li{
			font-size: 1.4rem;
			color: #640000;
			font-weight: bold;
			padding: 0 30px;
			img{
				padding: 0 10px;
			}
			.padd-right{
				padding-left: 11px;
			}
		}
	}
}
/*map 1
------------------------------------------*/
.c-map1{
	iframe{
		width: 950px;
		height: 400px;
	}
}
/*map block
-------------------------------------------*/
.c-mapBlock{
	a{
		font-size: 1.4rem;
		color: #0000ff;
		text-decoration: underline;
	}
}
/*text
--------------------------------------------*/
.c-text1{
	p{
		font-size: 1.4rem;
		letter-spacing: -0.1px;
	}
}