/*------------------------------------------------------------

------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.c-table1{
	padding: 0 0 20px;

	//row
	//-----------------------------------
	&__tr{
		border-bottom: #ceceb7 solid 1px;
		&__left{
			width: 240px;
			background-color: #dfdfd0;
			float: left;
			padding: 10px 0;
			h1{
				font-size: 1.4rem;
				padding-left: 20px;
			}
		}
		&__right{
			float: left;
			padding: 10px 0;
			p{
				font-size: 1.4rem;
				padding-left: 20px;
			}
		}
	}
	&__tr:first-child{
		border-top: #ceceb7 solid 1px;
	}

	&--c-color2{

	//row
	//-----------------------------------
		&__tr{
			border-bottom: #ceceb7 solid 1px;
			&__left{
				width: 240px;
				background-color: #fff;
				float: left;
				padding: 10px 0;
				h1{
					font-size: 1.4rem;
					padding-left: 20px;
				}
			}
			&__right{
				float: left;
				padding: 10px 0;
				p{
					font-size: 1.4rem;
					padding-left: 20px;
				}
			}
		}
		&__tr:first-child{
			border-top: #ceceb7 solid 1px;
		}
	}
}