/*------------------------------------------------------------

------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
/*title1
--------------------------------*/
.c-title1{
	text-align: center;
	padding: 50px 0 30px;
	h1{
		font-size: 3.4rem;
		font-weight: 500;
		color: #640000;
	}
	p{
		font-size: 2rem;
		font-family: Times New Roman;
		color: #a50000;
	}
}
/*title2
--------------------------------------*/
.c-title2{
	border-top: #a50000 solid 1px;
	border-bottom: #a50000 solid 1px;
	padding: 30px 0;
	margin-top: 50px;
	p{
		color: #640000;
		font-size: 2.2rem;
	}
}
/*title3
-----------------------------------------*/
.c-title3{
	width: 100%;
	text-align: center;
	border-top: #a50000 solid 1px;
	border-bottom: #a50000 solid 1px;
	padding: 30px 0;
	margin-top: 50px;
	margin-bottom: 40px;
	img{
		padding: 3px 10px;
		float: left;
	}
	p{
		font-size: 2.4rem;
		color: #640000;
	}
	.c-ul1{
		width: 277px;
		margin: 0 auto;
	}
	.c-ul2{
		width: 333px;
		margin: 0 auto;
	}
	.c-ul3{
		width: 397px;
		margin: 0 auto;
	}
}
/*title4
--------------------------------------*/
.c-title4{
	text-align: center;
	padding: 0 0 30px;
	h1{
		font-size: 3.4rem;
		font-weight: 500;
		color: #640000;
		font-family: RyuminPro;
	}
}
/*title5
----------------------------------------*/
.c-title5{
	img{
		float: left;
		padding: 5px 10px 0 0;
	}
	p{
		float: left;
		font-size: 2.2rem;
		color: #640000;
		font-family: RyuminPro;
	}
}
/*title6
-----------------------------------------*/
.c-title6{
	h2{
		font-size: 1.6rem;
		color: #a50000;
		line-height: 2rem;
	}
}
/*7
-----------------------------------------*/
.c-title7{
	padding: 20px 0;
	h2{
		font-size: 1.6rem;
		color: #a50000;
		float: right;
	}
}
/*title100
------------------------------------------*/
.c-title100{
	width: 545px;
	margin: 0 auto;
	text-align: center;
	.c-title8{
		color: #640000;
		float: right;
		padding-left: 50px;
		h1{
			font-size: 3.4rem;
			font-weight: 500;
			line-height: 35px;
		}
		p{
			font-size: 2rem;
			font-family: Times New Roman;
		}
	}
}
/*maintitle1
---------------------------------------------*/
.c-maintitle1{
	width: 100%;
	height: 260px;
	position: relative;
	img{
		width: 100%;
		margin: 0 auto;
		height: 260px;
		position: absolute;
	}
	&__text{
		width: 100%;
		text-align: center;
		position: absolute;
		margin: 100px 0;
		color: #f2f1d8;
		h1{
			font-size: 3.6rem;
			font-weight: 500;
			font-family: RyuminPro;
		}
		h2{
			font-size: 1.8rem;
			font-weight: 500;
			font-family: Times New Roman;
		}
	}
}